<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../objetiv/personal.css">
    
</head>

<body onload="show()">
    <div class="main">
        <div class="fullscreen-div">
            <form>
                <label for="peso">Peso Kg:</label>
                <input type="number" id="peso" name="peso">

                <label for="supino">Supino Kg:</label>
                <input type="number" id="supino" name="supino">

                <label for="agachamento">Agachamento Kg:</label>
                <input type="number" id="agachamento" name="agachamento">

                <label for="levantamento">Levantamento Terra Kg:</label>
                <input type="number" id="levantamento" name="levantamento"></input>

                <label for="date">Cumprir até:</label><br>
                <input type="date" id="date" name="date">

                <button onclick="objetiv()">Enviar</button>
            </form>
        </div>
    </div>
    <script src="../objetiv/script.js"></script>
</body>

</html>